WebService/TempConversion/WebContent/wsdl/FahrenheitToCelsius.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webservices.metacube.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://webservices.metacube.com" xmlns:intf="http://webservices.metacube.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://webservices.metacube.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="convertIntoCelsius">
    <complexType>
     <sequence>
      <element name="temp" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="convertIntoCelsiusResponse">
    <complexType>
     <sequence>
      <element name="convertIntoCelsiusReturn" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="convertIntoCelsiusRequest">

      <wsdl:part element="impl:convertIntoCelsius" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="convertIntoCelsiusResponse">

      <wsdl:part element="impl:convertIntoCelsiusResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="FahrenheitToCelsius">

      <wsdl:operation name="convertIntoCelsius">

         <wsdl:input message="impl:convertIntoCelsiusRequest" name="convertIntoCelsiusRequest">

       </wsdl:input>

         <wsdl:output message="impl:convertIntoCelsiusResponse" name="convertIntoCelsiusResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="FahrenheitToCelsiusSoapBinding" type="impl:FahrenheitToCelsius">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="convertIntoCelsius">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="convertIntoCelsiusRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="convertIntoCelsiusResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="FahrenheitToCelsiusService">

      <wsdl:port binding="impl:FahrenheitToCelsiusSoapBinding" name="FahrenheitToCelsius">

         <wsdlsoap:address location="http://localhost:8080/TempConversion/services/FahrenheitToCelsius"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
